.Services {
    text-align: center;
    background-image: url("https://images.pexels.com/photos/6574738/pexels-photo-6574738.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    color: white;
    height: 50vh;
    justify-content: center;